<div class="classHeaderSwitch">
    <h1>Configuracion de personaje</h1>
</div>
<div>
    <!-- <a href="#/features" ng-click="toggleComputer()">Encender</a></button> -->
    <div ng-show="!personajeStatusSwitch" class="classGreenAlert">
        <p>En este momento se puede modificar tu personaje</p>
    </div>

    <div ng-show="personajeStatusSwitch" class="classRedAlert">
        <p>En este momento NO se puede modificar tu personaje</p>
    </div>

    <div class="botonera">
        <div>
            <button class="btn btn-primary" ng-click="changeViewtoFeatures()"> Ver detalle</button>&nbsp;&nbsp;
        </div>
        <div>
            <button class="btn btn-primary" ng-click="togglePersonaje()"> Modificar Estado de modificacion</button>
        </div>

    </div>

</div>